body,* {
    margin:0;
    padding: 0;
    font-family: "urbanist";
}

a {
    text-decoration: none;
    color:black;
}


.main{

    height: fit-content;
    padding-bottom: 30px ;
    width: 64%;
    min-width: fit-content;
    margin-left:18% ;
    margin-top: 30px;
    border-radius: 30px;
    border: solid #000;
    border-width: thin;
    background-color: #F7FFF5;
    



}
.product-img{
    
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 20px;
    width: 300px;
    height : 250px;
}


.form-title {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 19px;
    color: #4D4D4D;
    padding: 4px 0 4px 35px;
    margin: 20px 0px 15px 0px;
    margin-left: 330px;
}
.form-title[for="imgclick"]{

    margin-left: -6px;
    margin-top: -320px;
    font-size: 22px;
}

.form-title[for="Product"]{

    margin-top : -240px;
}


.form-title[for="minprice"]{
    margin-top: -40px;
    margin-left: 510px;
    
}
.form-title[for="maxprice"]{

    margin-top: -47px;
    margin-left: 820px;
 
}
label[for="filefield"]{
    
    margin-left: 0px;

}



.form-input {
    display: block;
    background: #FFFFFF;
    border: 1px solid #9D9D9D;
    font-size: 18px;
    border-radius: 8px;
    padding: 12px 0 12px 18px;
    width: 48%;
    margin: 8px 35px;
    margin-left : 550px;
}

.form-input[name="productname"]{

    margin-top: -47px;

}


.form-input[name="minprice"]{

    width: 17%;
    margin-top: -49px;
    margin-left: 600px;

}
.form-input[name="maxprice"]{
    margin-top: -50px;
    width: 17%;
    margin-left: 920px;

}
.form-input[name=category]{

    margin-top: -50px;
    width: 48%;

}
.form-input[name="Description"]{

    width: 64%;
    height: 90px;
    margin-left: 365px;
    text-align: left;
	resize : none ;

}

.form-input[name="reason"]{

    width: 64%;
    height: 90px;
    margin-left: 365px;
    text-align: left;
	resize: none ;

}
fieldset{
	
	border : none ;
	margin-left: 365px;
	
}

#form-button {
    
    background: #1DB954;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 0 12px 5px;
    width: 250px;
    margin-left: 23%;
    margin-right: 100px;
    margin-top: 30px;
    cursor: pointer;
}

#form-button:hover {
    color: #fff;
    background-color: #000000;
}

#form-button-cancel {

    text-align: center;
    background: #bdbebd;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 0 12px 5px;
    width: 250px;
    margin: 8px 8px 8px 8px;
    cursor: pointer;
}

#form-button-cancel:hover {
    color: #fff;
    background-color: #000000;
}












