body,* {
    margin:0;
    padding: 0;
    font-family: "urbanist";
}

a {
    text-decoration: none;
    color:black;
}


.main{

    height: 700px;
    width: 64%;
    margin-left:18% ;
    margin-top: 30px;
    border-radius: 30px;
    border: solid #000;
    border-width: thin;
    background-color: #F7FFF5;



}
.product-img{
    
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 20px;
    width: 300px;
    height : 250px;
}


.form-title {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 19px;
    color: #4D4D4D;
    padding: 4px 0 4px 35px;
    margin: 20px 0px 15px 0px;
    margin-left: 330px;
}
.form-title[for="imgclick"]{

    margin-left: -6px;
    margin-top: -320px;
    font-size: 22px;
}

.form-title[for="Product"]{

    margin-top : -240px;
}


.form-title[for="minprice"]{
    margin-top: -40px;
    margin-left: 510px;
    
}
.form-title[for="maxprice"]{

    margin-top: -47px;
    margin-left: 820px;
 
}
label[for="filefield"]{
    
    margin-left: 0px;

}



.form-input {
    display: block;
    background: #FFFFFF;
    border: 1px solid #9D9D9D;
    font-size: 18px;
    border-radius: 8px;
    padding: 12px 0 12px 18px;
    width: 400px;
    margin: 8px 35px;
    margin-left : 550px;
}

.form-input[name="productname"]{

    margin-top: -47px;
    width: 570px;

}


.form-input[name="minprice"]{

    width: 200px;
    margin-top: -49px;
    margin-left: 600px;

}
.form-input[name="maxprice"]{
    margin-top: -50px;
    width: 200px;
    margin-left: 920px;

}
.form-input[name=category]{

    margin-top: -50px;
    width: 590px;

}
.form-input[name="Description"]{

    width: 760px;
    height: 90px;
    margin-left: 365px;
    text-align: left;


}

.form-input[name="Comment"]{

    width: 760px;
    height: 90px;
    margin-left: 365px;
    text-align: left;


}

#form-button {
    
    background: #1DB954;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 0 12px 5px;
    width: 250px;
    margin-left: 23%;
    margin-right: 100px;
    margin-top: 30px;
    cursor: pointer;
}

#form-button:hover {
    color: #fff;
    background-color: #000000;
}

#form-button-cancel {

    text-align: center;
    background: #bdbebd;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 12px 0 12px 5px;
    width: 250px;
    margin: 8px 8px 8px 8px;
    cursor: pointer;
}

#form-button-cancel:hover {
    color: #fff;
    background-color: #000000;
}













nav {
    color: black;
    width: 100%;
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-width : 0px 0px thin 0px ;
}

#logo {
    height: 60px;
    padding: 10px;
    background-color: white;
}

#list-menu {
    align-items: center;
}

.list-menu-item {
    list-style: none;
    display: inline;
}

.list-menu-item-link {
    font-size: 20px;
    margin: 0 30px 0 0;
    line-height: 4;
}

.list-menu-item-link:hover {
    color: #1DB954;
}
body{
    background-color: #fff;
}
#content {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#content-txt {
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 200px 0 0 0;
}

#content-button {
    text-align: center;
    padding: 30px;

}

#content-button-link {
    color:#fff;
    background-color: #1DB954;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    padding: 8px 70px 8px 70px;
}

#content-button-link:hover {
    color:#000;
    background-color: #fff;
    /* background-color: rgba(0, 0, 0, 0);
    border: 2px #fff solid; */
    /* border: solid #000 2px; */
}

#footer{
    background-color: #fff;
}

#footer-img-container {
    text-align: center;
}

#footer-img {
    width: 500px;
}

#footer-text {
    text-align: center;
    color: #000;
    padding: 10px;
}












