<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>MyTestApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectToLoginServlet</display-name>
    <servlet-name>RedirectToLoginServlet</servlet-name>
    <servlet-class>servlets.RedirectToLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectToLoginServlet</servlet-name>
    <url-pattern>/RedirectToLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectToRegisterServlet</display-name>
    <servlet-name>RedirectToRegisterServlet</servlet-name>
    <servlet-class>servlets.RedirectToRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectToRegisterServlet</servlet-name>
    <url-pattern>/RedirectToRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>servlets.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterPage</display-name>
    <servlet-name>RegisterPage</servlet-name>
    <servlet-class>servlets.RegisterPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/RegisterPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePage</display-name>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>servlets.HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePage</display-name>
    <servlet-name>ProfilePage</servlet-name>
    <servlet-class>servlets.ProfilePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePage</servlet-name>
    <url-pattern>/ProfilePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailsPage</display-name>
    <servlet-name>ProductDetailsPage</servlet-name>
    <servlet-class>servlets.ProductDetailsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailsPage</servlet-name>
    <url-pattern>/ProductDetailsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewProductPage</display-name>
    <servlet-name>ReviewProductPage</servlet-name>
    <servlet-class>servlets.ReviewProductPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewProductPage</servlet-name>
    <url-pattern>/ReviewProductPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPage</display-name>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>servlets.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewProductServlet</display-name>
    <servlet-name>ReviewProductServlet</servlet-name>
    <servlet-class>servlets.ReviewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewProductServlet</servlet-name>
    <url-pattern>/ReviewProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewProductSuccesPage</display-name>
    <servlet-name>ReviewProductSuccesPage</servlet-name>
    <servlet-class>servlets.ReviewProductSuccesPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewProductSuccesPage</servlet-name>
    <url-pattern>/ReviewProductSuccesPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteServlet</display-name>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>servlets.VoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempServlet</display-name>
    <servlet-name>TempServlet</servlet-name>
    <servlet-class>servlets.TempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempServlet</servlet-name>
    <url-pattern>/TempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlets.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartitioningServlet</display-name>
    <servlet-name>PartitioningServlet</servlet-name>
    <servlet-class>servlets.PartitioningServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartitioningServlet</servlet-name>
    <url-pattern>/PartitioningServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationServlet</display-name>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>servlets.VerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/VerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestsPage</display-name>
    <servlet-name>RequestsPage</servlet-name>
    <servlet-class>servlets.RequestsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsPage</servlet-name>
    <url-pattern>/RequestsPage</url-pattern>
  </servlet-mapping>
</web-app>